<h3 class="ui header">
    <i class="{{data.icon}}"></i>
    <div class="content">
      {{data.name}}
        <div class="sub header">
          {{data.description}}
        </div>
    </div>
</h3>
<table class="ui very basic table">
    <thead>
    <tr>
        <th>Review</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    {{#each previews as |preview|}}
        <tr>
            <td>{{#link-to preview.route preview.routeParam}}{{preview.title}}{{/link-to}} </td>
            <td>{{preview.value}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
{{yield}}
