<div class="stat-tile">
    <span class="stat-title"><i class="{{data.icon}}"></i>{{data.name}}</span>
    <div class="stat-value">{{data.value}}</div>
    <span class="stat-description">{{data.description}}</span>
</div>
{{yield}}
