{{yield}}
<div class="ui fixed inverted main menu">
    <div class="ui container">
        <a class="launch icon item" {{action 'toggle'}}>
            <i class="content icon"></i>
        </a>

        <div class="item">
            Management
        </div>

        <div class="right menu">
            <div class="item">
              {{#if user.profile}}
                  <img class="ui mini ciruclar image" src="{{user.profile}}"/>
              {{else}}
                  <i class="user mini white icon image"></i>
              {{/if}}
            </div>

            <div class="item">
              {{#if user.fname}}
                {{user.fname}} {{user.lname}}
              {{else}}
                  &lt; no name &gt;
              {{/if}}
            </div>
        </div>
    </div>
</div>

<div class="ui simple sidebar inverted vertical menu left">
    <div class="item">
        <a class="ui logo icon image" href="/">
            <img src="/images/logo.png">
        </a>
        <a href="/"><b>Management</b></a>
    </div>

    <div class="item">
        <div class="header">Product Administration</div>
        <div class="menu">
          {{#link-to 'product' class='item'}}View all products{{/link-to}}
          {{#link-to 'approvals' class='item'}}Approve reviews{{/link-to}}
        </div>

    </div>
    <div class="item">
        <div class="header">Settings</div>
        <div class="menu">
          {{#link-to 'account.settings' class='item'}}Account{{/link-to}}
        </div>
        <div class="menu">
          {{#link-to 'settings' class='item'}}System{{/link-to}}
        </div>
    </div>

    <div class="item">
        <div class="header">Session</div>
        <div class="menu">
            <a  class='item' {{action "logout"}} >Logout</a>
        </div>
    </div>
</div>