<div id="toc">
    <div class="ui vertical inverted sidebar menu left overlay visible">
        <div class="item">
            <a class="ui logo icon image" href="/">
                <img src="/images/logo.png">
            </a>
            <a href="/"><b>Management</b></a>
        </div>
        <div class="item">
            <div class="header">Product Administration</div>
            <div class="menu">
              {{#link-to 'product' class='item'}}View all products{{/link-to}}
              {{#link-to 'approvals' class='item'}}Approve reviews{{/link-to}}
            </div>

        </div>
        <div class="item">
            <div class="header">Settings</div>
            <div class="menu">
              {{#link-to 'account.settings' class='item'}}Account{{/link-to}}
            </div>
            <div class="menu">
              {{#link-to 'settings' class='item'}}System{{/link-to}}
            </div>
        </div>

        <div class="item">
            <div class="header">Session</div>
            <div class="menu">
                <a class='item' {{action "logout"}} >Logout</a>
            </div>
        </div>
    </div>
</div>

<div id="content-main" class="ui article">
    <div id="top-side-nav-comp" class="ui fixed inverted menu">
        <div class="ui container">
            <div class="item">
                Management
            </div>
            <div class="right menu">
                <div class="item">
                  {{#link-to 'account.settings'}}
                    {{#if hasUserProfile}}
                        <img class="ui mini circular image" src="{{hasUserProfile}}"/>
                    {{else}}
                        <i class="user large white icon image"></i>
                    {{/if}}
                  {{/link-to}}
                </div>

                <div class="item">
                  {{#if userName}}
                    <p>
                      {{userName}}
                    </p>
                  {{else}}
                      <p class="ui white">&lt; no name &gt;</p>
                  {{/if}}
                </div>
            </div>

        </div>
    </div>

    <div class="ui container">
      {{yield}}
    </div>
</div>

